<!DOCTYPE html>
<html>
  <head>
    <title>Antique Store Portal</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/sandstone/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
