<!-- <h1>Purchase History:</h1>
<% if @purchases.empty?() %>
  <h3>You haven't sold a damn thing.</h3>
<% else %>
  <ul>
    <li><% @purchases.each() do |purchase| %>
          <% purchase.customers
  </ul> -->
