<form action ="/sales" method="post">
  <div class="form-group">
    <% if @items_available.empty?() %>
      <h1>There are no antiques available.</h1>
    <% else %>
      <h1>Here are all the antiques in stock:</h1>
      <label>
        <% @items_available.each() do |item| %>
          <input type= 'checkbox' name="names[]" value="<%=item.id()%>"><%= item.name() %><br>
        <% end %>
      </label>
    <% end %>
    <br>
    <button type="submit" class="btn-danger">Buy!</button>
  </div>
</form>

<form action="/purchased" method="post">
  <% if @items_available.empty?() %>
    <h1>Your cart is empty.</h1>
  <% else %>
    <h1>Confirm your items to purchase:</h1>
    <label>
      <% @items_to_purchase.each() do |item| %>
        <input type= 'checkbox' name="confirmations[]" value="<%=item.id()%>"><%= item.name() %><br>
      <% end %>
    </label>
  <% end %>
    </ul>
  <br>
  <input type="text" name="customer" placeholder="Name">
  <button type="submit" class="btn-danger">Confirm Purchase</button>
</form>

<a href="/">Back to Homepage</a>
